*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3vh;
}
.container
{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
img
{
    border: 8px solid rgba(221, 28, 166, 0.397);
    border-radius: 10px;
    max-width: 70vw;
    height: 80vh;
}
.fas
{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 35px;
    background-color: rgba(221, 28, 166);
    border-radius: 5px;
    transition: transform 0.5s;
}
.fas:hover
{
    cursor: pointer;
    transform: scale(1.2);
}
.points span
{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    margin-left: 4px;
}